footer{
    background-color:white;
    display:block;
    border: 2px black;
    position: absolute;
    text-align-last:left;
    width:100%;
    bottom:0;
    padding: 10px 10px 10px 25px;
    height: 70px;
    border-top:1px solid whitesmoke;
    margin-top: 50px;}